{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/manage


    Example context (json):
    {

    }
}}

<table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th><h4><b><center>PDF</center></b></h4></th>
        <th><h4><b><center>Delete</center></b></h4></th>
       </tr>
    </thead>

    <tbody>

    <tr>
        <td><center><div class='row'><iframe src='https://still-oasis-17398.herokuapp.com/system/uploads/files/000/000/119/original/sample.pdf?1622873348' data-uploadid='119' style='width:100%;height:100%;'></iframe></div></center></td>
        <td><center><input type="button" class="btn btn-primary" value="Delete File" onclick="location.href='{{deleteurl1}}'"></center></td>
    </tr>

    <tr>
      
    </tr>



    </tbody>

</table>

<hr>


<script type="text/javascript">
function reply_click(clicked_id)
  {
    
    var id = clicked_id;

    const options = {
    method: 'DELETE',
    uri: 'http://still-oasis-17398.herokuapp.com/uploads/id.json', // whatever the endpoint
    body: {
        key: muCNhTEogUDNwOGlFHMqwZzGHkjTVRGOQiFxSYRTCCEqbGGkXH
    },
    json: true // Automatically stringifies the body to JSON
};


request(options)
.then((parsedBody) => {
    alert("Delete successfully");
})
.catch((err) => {
    alert("Unable to delete");
});

}

</script>

