{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_search/result

    Template which shows a search result.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseurl
    * coursefullname
    * title
    * docurl
    * contexturl

    Optional context variables for this template:
    * content
    * userurl
    * userfullname
    * description1
    * description2
    * filename
    * multiplefiles
    * filenames

    Example context (json):
    {
        "courseurl": "https://example.com/course/view.php?id=2",
        "coursefullname": "Example course",
        "title": "Example title",
        "docurl": "https://example.com/mod/example/view.php?id=4",
        "content": "I am content",
        "contexturl": "https://example.com/mod/example/view.php?id=2",
        "userurl": "https://example.com/user/profile.php?id=3",
        "userfullname": "Example User Full Name",
        "multiplefiles": true,
        "filenames":
        [
            "file1.txt",
            "file2.txt"
        ]
    }
}}
<style type="text/css">
        .morecontent span {
    display: none;
}
.morelink {
    display: block;
}
</style>
<div class="result">
   
    
    <div class="row">

        <div class="col-md-2">
        <h2>File Info</h2>
        </div>

        <div class="col-md-2">
        <h2>Course</h2>
        </div>

        <div class="col-md-2">
        <h2>Activity</h2>
        </div>

        <div class="col-md-6">
        <h2>Description</h2>
        </div>

    </div>    
    {{#searchdata}}    
    <div class="row">

        <div class="col-md-2">
        <div class="result-content">{{{info}}}</div>
        </div>

        <div class="col-md-2">
        <div class="result-content">{{{course}}}</div>
        </div>

        <div class="col-md-2">
        <div class="result-content">{{{activity}}}</div>
        </div>

        <div class="col-md-6">
        <div class="more" align="justify">{{{description}}}</div>
        </div>

    </div>    
    {{/searchdata}}

</div>


<script type="text/javascript">
    $(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 260;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less <";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});
</script>